<!DOCTYPE html>
<html lang="ja" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RecipesMemory{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
</head>
<body>
    <button onclick="toggleTheme()" class="btn-toggle">🌙/☀️</button>

    {% block content %}{% endblock %}

    <script>
        const currentTheme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", currentTheme);

        function toggleTheme() {
            const newTheme =
                document.documentElement.getAttribute("data-theme") === "light"
                    ? "dark"
                    : "light";
            document.documentElement.setAttribute("data-theme", newTheme);
            localStorage.setItem("theme", newTheme);
        }
    </script>
</body>
</html>
