{% load static %}
<link rel="stylesheet" href="{% static 'recipes/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新しいレシピを投稿 | RecipesMemory</title>
    <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>🍳 新しいレシピを投稿</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">投稿する</button>
    </form>
    

    <p style="text-align:center;">
        <a href="{% url 'index' %}">← 一覧に戻る</a>
    </p>
</body>
</html>
