{% load static %}
<link rel="stylesheet" href="{% static 'recipes/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レシピ編集 | RecipesMemory</title>
    <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>✏️ レシピを編集</h1>

    <div class="recipe-card">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">投稿する</button>
        </form>        
    </div>
</body>
</html>
